# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/cache

# testing
/coverage
/.test-data/

# next.js
/.next/
/out/

# production
/build

# local data & backups
/data/
/.local-backup/

# environment variables
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# IDE & editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
*.pem

# debug & logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
